= render 'commons/header'

.container.text-center
  %h1.section-title.text-center Profile Edit
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    -# .profile-content-text
    -#   = f.label :avatar, 'アバター', class: 'profile-content-text-label text-center'
    -#   = f.file_field :avatar, class: 'profile-content-text-value'
    .profile-content-text
      = f.label :nickname, 'ニックネーム', class: 'profile-content-text-label text-center'
      = f.text_field :nickname, class: 'profile-content-text-value'
    .profile-content-text
      = f.label :grade, '学年', class: 'profile-content-text-label text-center'
      = f.select :grade, Profile.grades.map { |k, v| [ I18n.t("enum.grades.#{k}"), k ] }, {}, { class: 'profile-content-text-value' }
    .profile-content-text
      = f.label :path, '志望校', class: 'profile-content-text-label text-center'
      = f.text_field :path, class: 'profile-content-text-value'


    = f.submit '保存', class: 'btn btn-outline-dark btn-lg profile-edit-btn'