= render 'commons/header'

.container.text-center
    %h1.section-title.text-center Profile

    .profile-content
        =image_tag current_user.avatar_image, class: "profile-content-image"
        .profile-content-text-wrapper
            .profile-content-text
                .profile-content-text-label
                    名前
                .profile-content-text-value
                    = current_user&.profile&.nickname
            .profile-content-text
                .profile-content-text-label
                    学年
                .profile-content-text-value
                    = I18n.t("enum.grades.#{current_user&.profile&.grade}")
            .profile-content-text
                .profile-content-text-label
                    志望校
                .profile-content-text-value
                    = current_user&.profile&.path
    = link_to edit_profile_path do
        %button.btn.btn-outline-dark.btn-lg.profile-edit-btn
            EDIT
