.login
  .container
    .login-page
      .login-page-title
        HYPERWEBSITE
      .login-page-description
        web service for hyper students
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field.login-page-form
          = f.label :user, class:"login-page-form-label"
          = f.text_field :username, autofocus: true, autocomplete: "username", class:"login-page-form-field"
        .field.login-page-form
          = f.label :pass, class:"login-page-form-label"
          = f.password_field :password, autocomplete: "current-password", class:"login-page-form-field"
        .actions.pt-5
          = f.submit "ENTER", class: "btn btn-outline-dark btn-lg login-page-btn"
